<!-- this must be under src/main/webapp/WEB-INF/web.xml -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
       version="2.5">

  <servlet>
    <servlet-name>ChirperServlet</servlet-name>
    <servlet-class>com.linkedin.chirper.servlet.ChirperServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    <init-param>
      <param-name>dir</param-name>
      <param-value>/src/main/webapp</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>ChirperServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/images/*</url-pattern>
    <url-pattern>/css/*</url-pattern>
    <url-pattern>/js/*</url-pattern>
  </servlet-mapping>
</web-app>
